extends ./base.pug
block extraCSS
	link(type="text/css" rel="stylesheet" href="/public/css/editablegrid.css")
block content
	.row.st-buttons-bar
		.col-12
			button.float-left(type="button" class="btn btn-primary") Nuevo Cliente
			button.float-right(type="button" class="btn btn-primary") Guardar

	.col-12
		.st-row-grey
		.st-row-grey
		.row.st-section
			.col-12
				legend.st-header Datos solicitante
				form
					.row.st-form
						.col-12.col-lg-8
							.row
								.col-12.col-lg-8
									.row.form-group
										label.col-4.col-form-label(for="tipoServicio") Tipo Servicio:
										.col-8
											input#tipoServicio.form-control(type="text")
									.row.form-group
										label.col-4.col-form-label(for="fechaAsignacion") Fecha Asignaci&oacute;n:
										.col-8
											input#fechaAsignacion.form-control(type="text")
									.row.form-group
										label.col-4.col-form-label(for="solicitadoPor") Solicitado por:
										.col-8
											input#solicitadoPor.form-control(type="text")
								.col-12.col-lg-4
									.row.form-group
										label.col-4.col-form-label(for="direccion") Direcci&oacute;n:
										.col-8
											input#direccion.form-control(type="text")
									.row.form-group
										label.col-4.col-form-label(for="ciudad") Ciudad:
										.col-8
											input#ciudad.form-control(type="text")
									.row.form-group
										label.col-4.col-form-label(for="operador") Operador:
										.col-8
											input#operador.form-control(type="text")
							.row
								.col-12
									.row.form-group
										label.col-4.col-lg-2.col-form-label(for="nombre") Nombre:
										.col-8.col-lg-10
											input#nombre.form-control(type="text")
						
						.col-12.col-lg-4
							.row
								.col-12
									.row.form-group
										label.col-4.col-form-label(for="atendidoPor") Atendido por:
										.col-8
											input#atendidoPor.form-control(type="text")
									.row.form-group
										label.col-4.col-form-label(for="telefono") Telefono:
										.col-8
											input#telefono.form-control(type="text")
									.row.form-group
										label.col-4.col-form-label(for="email") Email:
										.col-8
											input#email.form-control(type="text")
									.row.form-group
										label.col-4.col-form-label(for="atendidoPor") Atenci&oacute;n:
										.col-8
											input#atencion.form-control(type="text")

		.st-row-grey
		.row.st-section
			.col-12
				legend.st-header Solicitud #00101
				#tabledata

		.st-row-grey
		.row.st-section
			.col-12
				legend.st-header Observaciones
				textarea#observaciones.form-control(rows=5, style="resize: none;")

		.st-row-grey


block extraJS
	script(type="text/javascript" src="/public/js/editablegrid.js")
	script(type="text/javascript" src="/public/js/editablegrid_renderers.js")
	script(type="text/javascript" src="/public/js/editablegrid_editors.js")
	script(type="text/javascript" src="/public/js/editablegrid_validators.js")
	script(type="text/javascript" src="/public/js/editablegrid_utils.js")
	script(type="text/javascript" src="/public/js/editablegrid_charts.js")
	script.
		var editableGrid = null;
		var headers = [];


		//Grid functions
		function eliminarFila(param){
			var value = editableGrid.getRowValues(param);

			if(confirm("Desea eliminar la fila?")){
				editableGrid.remove(param);
				editableGrid.renderGrid("tabledata", "table table-striped");

				if(value.movimiento_detalle_id!=null && value.movimiento_detalle_id!='' && !isNaN(parseInt(value.movimiento_detalle_id))){
					sdGet('ingresos/detalle/'+value.movimiento_detalle_id+'/del',function(res,xhr){
						showSnackbar("Fila eliminada", COLOR_SUCCESS);
					});
				}
			}
		}

		function duplicarFila(param){
			editableGrid.duplicate(param);
		}

		function nuevaFila(param){
			values = {};
			editableGrid.insertAfter(editableGrid.getRowCount(),editableGrid.getRowCount()+1,values);
		}

		function eliminarFilas(){
			while(editableGrid.getRowCount()!=0){
				editableGrid.remove(0);
			}
		}

		function setDetallesInGrid(dets){
			var newdata = [];
			for(var i =0; i <dets.length; i++){
				newdata.push({id: dets[i].solicitud_detalle_id, values: dets[i]});
			}
			editableGrid.load({ data: newdata});
			editableGrid.renderGrid("tabledata", "table table-striped");
		}

		EditableGrid.prototype.duplicate = function(rowIndex) {
			var values = this.getRowValues(rowIndex);
			values['solicitud_detalle_id'] = '';
			var newRowId = 0;
			for (var r = 0; r < this.getRowCount(); r++) newRowId = Math.max(newRowId, parseInt(this.getRowId(r)) + 1);
			this.insertAfter(rowIndex, newRowId, values); 
		};

		$(document).ready(function(){

			//editablegrid headers
			headers.push({ name: "solicitud_detalle_id", label: "ID", datatype: "integer", editable:false });
			headers.push({ name: "equipo", label: "Equipo", datatype: "string", editable:true });
			headers.push({ name: "marca", label: "Marca", datatype: "string", editable:true });
			headers.push({ name: "modelo", label: "Modelo", datatype: "string", editable:true });
			headers.push({ name: "serie", label: "Serie", datatype: "string", editable:true });
			headers.push({ name: "desperfecto", label: "Desperfecto", datatype: "string", editable:true });
			headers.push({ name: "garantia_piezas", label: "Garantia piezas", datatype: "string", editable:true });
			headers.push({ name: 'action', label: 'Acción', datatype:"action", editable: false});

			editableGrid = new EditableGrid("detalles", {});
			editableGrid.load({"metadata": headers, "data":[]});
			editableGrid.setCellRenderer("action", new CellRenderer({render: function(cell, value) {
				var rowId = editableGrid.getRowId(cell.rowIndex);

				cell.innerHTML = '<a onclick="eliminarFila('+cell.rowIndex+')" style="cursor:pointer">' +
				'<i class="fa fa-fw fa-trash-o fa-lg"></i></a>';

				cell.innerHTML+= '&nbsp;<a onclick="duplicarFila('+cell.rowIndex+')" style="cursor:pointer">' +
				'<i class="fa fa-fw fa-clone fa-lg"></i></a>';
			}}));
			editableGrid.renderGrid("tabledata", "table table-striped");
			nuevaFila();
			nuevaFila();
			nuevaFila();
			

		});



